In [1]:
    dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### CREATE A LIST

In [106]:
li= []

In [107]:
li=[1,2,3]

In [108]:
type(li)

list

In [109]:
li = [1,2,'Parikh',3.4]

In [110]:
li

[1, 2, 'Parikh', 3.4]

## ACCESS ELEMENTS IN LIST

In [111]:
li

[1, 2, 'Parikh', 3.4]

In [112]:
li[0]

1

In [113]:
li[2]

'Parikh'

In [114]:
li[4]

IndexError: list index out of range

### Changing ELEMENTS IN LIST

In [115]:
li

[1, 2, 'Parikh', 3.4]

In [116]:
li [0] = 5
li

[5, 2, 'Parikh', 3.4]

In [117]:
li = [5, 2, 'Parikh', 3.4]
li [3] = 'Rohan'
li

[5, 2, 'Parikh', 'Rohan']

In [118]:
li = [5, 2, 'Parikh', 'Rohan']
li [4] = 9
li

IndexError: list assignment index out of range

### SLICING OF THE LIST

In [119]:
li

[5, 2, 'Parikh', 'Rohan']

In [120]:
li[1:3]

[2, 'Parikh']

In [121]:
li[:]

[5, 2, 'Parikh', 'Rohan']

In [122]:
li[1:10]

[2, 'Parikh', 'Rohan']

In [123]:
li[1:]

[2, 'Parikh', 'Rohan']

# INSERT & APPEND ELEMENT IN THE LIST

In [124]:
li.append('Ankush')
li

[5, 2, 'Parikh', 'Rohan', 'Ankush']

In [129]:
li.insert(1,7)
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush']

In [130]:
li.insert(6,10)
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10]

In [131]:
li.insert(9,'Karan')
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan']

In [134]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan']

In [136]:
li.append([9,10,11])
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11]]

In [137]:
li.extend([9,10,11])
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11]

In [138]:
li.remove(2)
li

[5, 7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11]

In [139]:
li.append(5)
li

[5, 7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [140]:
li.remove(5)

In [141]:
li

[7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [142]:
li.remove(6)
li

ValueError: list.remove(x): x not in list

In [143]:
li.pop()
li

[7, 'Parikh', 'Rohan', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10, 11]

In [144]:
li.pop()

11

In [145]:
li.pop(2)

'Rohan'

In [148]:
li

[7, 'Parikh', 'Ankush', 10, 'Karan', [9, 10, 11], 9, 10]

In [147]:
len(li)

8